body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(130, 137, 238);
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    margin:0;
}
.profile-container{
    
    background: rgba(255, 255, 255, 0.15); 
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    box-shadow : 0 8px 32px rgba(0, 0, 0, 0.3);
    padding:30px;
    border-radius: 15px;
    text-align: center;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    max-width:400px;
}
.profile-image{
    border-radius:100%;
    object-fit:cover;
    height:200px;
    width:210px;
    border:5px solid #6366f1
}
h1{
    margin:10px 0;
    font-size:26px;
}
.links a{
    text-decoration: none;
    color:white;
    background-color:#6366f1;
    padding:10px 15px;
    margin:5px;
    display:inline-block;
    border-radius: 30px;
    font-size:14px;
    transition:0.3s
}
.links a:hover{
    transform:scale(1,1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.badges{
    display:flex;
    flex-wrap: wrap;
    gap:0.75rem;
    margin-bottom:2 rem;
}
.badge{
    background:rgba(99,102,241,0.1);
    color:#202eaa;
    border: 1px solid rgba(99,102,241,0.2);
    padding:0.4rem 1rem;
    border-radius:100px;
    font-size: 0 0.80rem;
    font-weight:600;
}